
    @using HELZFashion.Domain.Entities
    @model List<Clothes>



    <head>


<style>
    .table {
        width: 1000px;
        border-collapse: collapse;
        margin-top: 20px auto;
        border-color: #47280B;
        margin-top: 5px;
        margin: auto;
    }

    th {
        color: #47280B;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }


    tbody tr:hover {
        background-color: #47280B; /* Üzerine gelinen satırın arka plan rengi */
        color: white; /* Üzerine gelinen satırın yazı rengi */
    }

    .btn {
        
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="container mt-3 text-center">
    <h2 style="color: navy;">
        🧥 Clothes 👚
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Material</th>
                <th>Color</th>
                <th>Image</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Gender</th>
                <th>Size Type</th>
                <th></th> <!-- Delete Button Column -->
                <th></th> <!-- Update Button Column -->
                <th></th> <!-- Details Button Column -->
                <th></th> <!-- Basket Button Column -->
            </tr>
        </thead>
        <tbody>
            @foreach (var clothes in Model)
            {
                <tr>
                    <td>@clothes.Name</td>
                    <td>
                        <div style="max-width: 200px; word-wrap: break-word;">
                            @clothes.Description
                        </div>
                    </td>
                    <td>@clothes.Price</td>
                    <td>@clothes.Material</td>
                    <td>@clothes.ColorType</td>
                    <td>
                        <img src="@clothes.ImageUrl" alt="@clothes.Name" style="max-width: 100px;" />
                    </td>
                    <td>
                        @if (clothes.Brand != null)
                        {
                            @clothes.Brand.Name
                        }
                    </td>
                    <td>
                        @if (clothes.Category != null)
                        {
                            @clothes.Category.CategoryName
                        }
                    </td>
                    <td>@clothes.Gender</td>
                    <td>@clothes.SizeType</td>
                    <td><a asp-action="Delete" asp-route-id="@clothes.Id" class="btn btn-danger">Delete</a></td>
                    <td><a asp-action="Update" asp-route-id="@clothes.Id" class="btn btn-success">Update</a></td>
                    <td><a asp-action="Details" asp-route-id="@clothes.Id" class="btn btn-warning">Details</a></td>
                    <td>
                        <a asp-controller="Basket"
                           asp-action="AddToBasket"
                           asp-route-productId="@clothes.Id"
                           asp-route-quantity=1
                           class="btn btn-info">
                            Add To Basket
                        </a>
                    </td>
                </tr>

            }

            .column {
                flex: 1;
                padding: 10px;
            }

            .card-header{
            background-color: #28543C;
            }
            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            card {
                margin: 15px;
                border-color: #B2B2B2;
                position: relative;
                transition: transform 0.1s;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                width: 200px;
                height: 400px;
                margin-left:20 px;
            }

                card:hover {
                    transform: scale(1.1);
                }

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
             .button-group {
                display: flex;
                gap: 10px;
                justify-content: center;
                margin-top: 10px;
            }
            .accordion{
                border: hiiden;
            }
        </style>
    </head>
    <body>
        <h2>Clothes</h2>
    <div class="card" style=" width: 400px; height:400; margin-left: 45px;">
        @foreach (var clothes in Model)
        {
            <div class="card-header">
                <h4 class="card-title" style="color: white; text-align: center; margin-bottom:5px;">@clothes.Name</h4>

            </div>


        <div class="card column">
            <img src="@clothes.ImageUrl" alt="@clothes.Name" style="max-width: 150px; margin: 0 auto; display: block;"/>
            <div class="card-body">

                <p class="card-text ">
                    <span>@clothes.Gender</span>
                </p>
                <p class="card-text" >
                        <span style="background-color: #28543C; color:white; border-radius:20px; padding: 5px; display: inline-block;">@clothes.Brand.Name</span>
                </p>
                <p class="card-text price "style="font-size:25px;">$ @clothes.Price</p>
                <div class="button-group">
                    <a href="/Clothes/Details/@clothes.Id" class="btn btn-primary" style="height:40px;">Detail 🔍</a>
                    <a asp-controller="Basket"
                       asp-action="AddToBasket"
                       asp-route-productId="@clothes.Id"
                       asp-route-quantity=1
                       class="btn btn-info"
                       style="height:40px; color:white;">
                        Basket 🛒
                    </a>
                </div>   

            </div>
            

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Click the Button
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="card-text ">
                                    <p class="card-text ">
                                        <b>Description: </b> <span>@clothes.Description</span>
                                    </p>
                                    <b>Material: </b> <span>@clothes.Material</span>
                                </p>
                                <p class="card-text ">
                                    <b>Color Type: </b> <span>@clothes.ColorType</span>
                                </p>
                                <p class="card-text ">
                                    <b>Size Type: </b> <span>@clothes.SizeType</span>
                                </p>
                                <div class="button-group">
                                    <a asp-action="Delete" asp-route-id="@clothes.Id" class="btn btn-danger" style="height:40px;">Delete 🗑</a>
                                    <a asp-action="Update" asp-route-id="@clothes.Id" class="btn btn-warning" style="height:40px; color:white;"> Update 📝</a>
                                </div>
                            </div>
                        </div>
                  
                </div>
            </div>
        </div>
        }
    </div>
    </body>
            <script>
                const cards = document.querySelectorAll('.card');
                cards.forEach(card => {
                    let hovered = false;

                    card.addEventListener('mouseenter', () => {
                        if (!hovered) {
                            card.style.transform = 'scale(1.1)';
                            hovered = true;
                        }
                    });

                    card.addEventListener('mouseleave', () => {
                        card.style.transform = 'scale(1)';
                        hovered = false;
                    });
                });
            </script>

