@using HELZFashion.Domain.Entities
@model List<Clothes>

<div class="container mt-3 text-center">
    <h2 style="color: navy;">
        🧥 Clothes 👚
    </h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Material</th>
                <th>Color</th>
                <th>Image</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Gender</th>
                <th>Size Type</th>
                <th></th> <!-- Delete Button Column -->
                <th></th> <!-- Update Button Column -->
                <th></th> <!-- Details Button Column -->
            </tr>
        </thead>
        <tbody>
            @foreach (var clothes in Model)
            {
                <tr>
                    <td>@clothes.Name</td>
                    <td>
                        <div style="max-width: 200px; word-wrap: break-word;">
                            @clothes.Description
                        </div>
                    </td>
                    <td>@clothes.Price</td>
                    <td>@clothes.Material</td>
                    <td>@clothes.ColorType</td>
                    <td>
                        <img src="@clothes.ImageUrl" alt="@clothes.Name" style="max-width: 100px;" />
                    </td>
                    <td>
                        @if (clothes.Brand != null)
                        {
                            @clothes.Brand.Name
                        }
                    </td>
                    <td>
                        @if (clothes.Category != null)
                        {
                            @clothes.Category.CategoryName
                        }
                    </td>
                    <td>@clothes.Gender</td>
                    <td>@clothes.SizeType</td>
                    <td><a asp-action="Delete" asp-route-id="@clothes.Id" class="btn btn-outline-danger">Delete</a></td>
                    <td><a asp-action="Update" asp-route-id="@clothes.Id" class="btn btn-outline-primary">Update</a></td>
                    <td><a asp-action="Details" asp-route-id="@clothes.Id" class="btn btn-outline-warning">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
