@model List<HELZFashion.Domain.Entities.Order>
<style>
    
    h2 {
        color: #007bff; 
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dc3545;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #343a40; 
        color: #dc3545; 
    }

    tbody tr:hover {
        background-color: #f8f9fa;
    }

    a.btn {
        color: #343a40;
        background-color: #dc3545; 
        border-color: #dc3545;
        padding: 5px 10px;
        border-radius: 4px;
        display: inline-block;
    }

        a.btn:hover {
            background-color: #bd2130; 
            border-color: #bd2130;
        }
</style>
<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order Content</th>
            <th>Shipping Address</th>
            <th>Payment Method</th>
            <th>Order Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    <ul>
                        @foreach (var item in order.OrderItems.Items)
                        {
                            <li>@item.Clothes.Name</li>

                        }
                    </ul>
                </td>
                <td>@order.ShippingAddress</td>
                <td>@order.Payment</td>
                <td>@order.OrderDate</td>
                <td>
                    <a asp-action="DeleteOrder" asp-route-id="@order.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>